<mat-toolbar color="primary" class="mat-elevation-z6">
    <a mat-button routerLink="/"><mat-icon>money</mat-icon> The International Payment System</a>

    <div class="spacer"></div>
    

    <ng-container *ngIf="isLoggedIn; else loggedOut">
        <ng-container *ngIf="isEmployee; else isUser">
            <a mat-button routerLink="/transactions">List</a>
        </ng-container>
        <ng-template #isUser>
            <a mat-button routerLink="/add">Add</a>
      
            <a mat-button routerLink="/list">List</a>

        </ng-template>
        
        
        <a (click)="onLogout()">Logout</a>
    </ng-container>
        
    <ng-template #loggedOut>
        <button mat-button [matMenuTriggerFor]="loginMenu">Login</button>
        <mat-menu #loginMenu="matMenu">
            <button mat-menu-item [routerLink]="'/login'">User Login</button>
            <button mat-menu-item [routerLink]="'/employee-login'">Employee Login</button>
        </mat-menu>
        <a mat-raised-button color="accent" routerLink="/signup">Signup</a>
    </ng-template>
</mat-toolbar>