.title{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title h3{
    color: #3f51b5;
}

.small-table,
.table-container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
}

button{
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: .2rem;
}